{% block body %}
    <div class="row">
        <div class="large-12 columns">

            <div class="large-3 medium-4 columns hide-for-small no-padding">
                <a href="{{ path('perfect_place_core_homepage') }}"><img src="{{ asset('public/img/perfect_place.png') }}" /></a>
            </div>

            <div class="large-9 medium-8 columns no-padding">
                <div class="contain-to-grid">
                    <nav class="top-bar" data-topbar role="navigation">

                        <ul class="title-area">
                            <li class="name show-for-small"><h1><a href="#"><span class="blue">P</span>er<span
                                                class="green">f</span>ect<span
                                                class="red">P</span>lace</a></h1></li>
                            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                        </ul>

                        <section class="top-bar-section">
                            <ul class="nav-line right hide-for-small">
                                <li class="hide-for-small">
                                    <a id="affiche-nav" title="Masquer les paramètres" data-tooltip
                                       data-options="disable_for_touch:true;show_on:large;" aria-haspopup="true">
                                        <i id="affichage-icone-nav" class="fa fa-toggle-on green"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('perfect_place_core_particulier') }}" data-tooltip
                                       data-options="disable_for_touch:true;show_on:large;" aria-haspopup="true"
                                       title="Page à destination des particuliers">
                                        Particulier
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('perfect_place_core_professionnel') }}" data-tooltip
                                       data-options="disable_for_touch:true;show_on:large;" aria-haspopup="true"
                                       title="Page à destination des professionnels">
                                        Professionnel
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav-line right show-for-small">
                                <li>
                                    <a href="{{ path('perfect_place_core_particulier') }}"
                                       title="Page à destination des particuliers">
                                        Particulier
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('perfect_place_core_professionnel') }}"
                                       title="Page à destination des professionnels">
                                        Professionnel
                                    </a>
                                </li>
                            </ul>
                        </section>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}