{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        {# BTN pour masquer / afficher les parametres #}
        <div id="affiche" class="toggleParameters large-3 columns show-for-small">
                <span id="affichage-icone" class="fa fa-2x fa-toggle-on green" title="Masquer les
                paramètres"></span>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns" data-equalizer>

            <div class="large-12 param-map columns no-padding">
                <div id="parameters" class="large-3 medium-3 columns no-padding">
                    <div class="large-12 columns panel" data-equalizer-watch>
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Mobilité
                                <div class="range-slider round" id="mobi" data-slider data-options="display_selector: #mobilite;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.mobilite, { 'type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="mobilite"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Environement
                                <div class="range-slider round" id="envi" data-slider data-options="display_selector: #environement;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.environement, {'type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="environement"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Activité culturel
                                <div class="range-slider round" id="cultu" data-slider data-options="display_selector: #culture;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.culture, {'type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="culture"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;&nbsp;Activité nocturne
                                <div class="range-slider round" id="noctu" data-slider data-options="display_selector: #nocturne;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.nocturne, {'type' : 'hidden','label' : ' ','value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="nocturne"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Commerce de proximité
                                <div class="range-slider round" id="proxi" data-slider data-options="display_selector: #commerce;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.commerce, {'type' : 'hidden','label' : ' ','value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="commerce"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Santé
                                <div class="range-slider round" id="san" data-slider data-options="display_selector: #sante;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.sante, {'type' : 'hidden','label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="sante"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Rayon
                                <div class="range-slider round" id="ra" data-slider data-options="display_selector:#rayon; start: 0; end: 5000; step: 1;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.rayon, {'type' : 'hidden','label' : ' ', 'value' : '2500' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="rayon"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="large-12 columns text-center white btn-seek">
                                {{ form_row(form.Rechercher) }}
                            </div>
                        </div>


                        {{ form_end(form) }}
                    </div>
                </div>

                {# Right columns MAP #}
                <div id="map" class="large-9 medium-9 columns" data-equalizer-watch {#style="border: 1px solid red;"#}>
                    <div class="row">
                        <div class="large-12 columns no-padding" {#style="border: 1px solid yellowgreen;"#}>
                            <div id="GoogleMap" {#style="border: 1px solid darkred;"#}></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p>PerfectPlace © Copyright</p>
                </div>
                <div class="large-6 medium-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf5ectAep4TV8yRQoUqnNWfc3cKm6ivJs"></script>

    <script type="text/javascript">

        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }


        function initialize() {
            var lat = parseFloat(GetURLParameter('lat'));
            var long = parseFloat(GetURLParameter('long'));

            if (isNaN(lat)) {
                var mapOptions = {center: { lat: {{ coord.lat }}, lng: {{ coord.long }} }, zoom: 15 };
            }
            else {
                var mapOptions = {center: { lat: lat, lng: long }, zoom: 15 };
            }
            var map = new google.maps.Map(document.getElementById('GoogleMap'), mapOptions);
            /*
             var optionsCercle = {
             map: map,
             center: new google.maps.LatLng(
            {{ coord.lat }},
            {{ coord.long }}),
             radius:
            {{ radius }}
             };
             var monCercle = new google.maps.Circle(optionsCercle);
             */
            var marker;
            function placeMarker(location) {
                if (marker) {
                    marker.setPosition(location);
                }
                else {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        draggable: true
                    });
                }
            }

            if (isNaN(lat) == false) {
                var location = new google.maps.LatLng(lat, long);
                placeMarker(location);
            }

            marker = new google.maps.Marker({ position: event.latLng, map: map });

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
                var lat = event.latLng.lat();
                var long = event.latLng.lng();
                window.location.href = "{{ path('perfect_place_core_particulier') }}?lat=" + lat + "&long=" + long;
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        /*$( document ).ready(function() {*/
        /*var lat = GetURLParameter('lat');
         var long = GetURLParameter('long');
         var map = new google.maps.Map(document.getElementById('GoogleMap'));
         var latlng = new google.maps.LatLng(long, lat);
         var marker;

         alert("Lat = "+lat+", long = "+long);
         marker = new google.maps.Marker({
         position: latlng,
         map: map,
         draggable: true
         });
         marker.setPosition(latlng);
         alert("Done !");*/
        /*});*/

    </script>
{% endblock %}






