{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        {# BTN pour masquer / afficher les parametres #}
        <div id="affiche" class="toggleParameters large-3 columns show-for-small">
                <span id="affichage-icone" class="fa fa-2x fa-toggle-on green" title="Masquer les  paramètres"></span>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns" data-equalizer>

            <div class="large-12 param-map columns no-padding">
                <div id="parameters" class="large-3 medium-3 columns no-padding">
                    <div class="large-12 columns panel" data-equalizer-watch>
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Zone commerçante
                                <div class="range-slider round" id="proxi" data-slider data-options="display_selector: #commerce;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.commerce, { 'type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="commerce"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Accessibilité
                                <div class="range-slider round" id="trans" data-slider data-options="display_selector: #transport;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.transport, { 'type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="transport"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Activité nocturne
                                <div class="range-slider round" id="noctu" data-slider data-options="display_selector: #nocturne;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.nocturne, {' type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="nocturne"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Professionnel de la santé
                                <div class="range-slider round" id="san" data-slider data-options="display_selector: #sante;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.sante, { 'type' : 'hidden', 'label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="sante"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Activité culturel
                                <div class="range-slider round" id="cultu" data-slider data-options="display_selector: #culture;start: 0; end: 100; step: 25;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.culture, {'type' : 'hidden','label' : ' ', 'value' : '50' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="culture"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-11 small-10 medium-11 columns no-padding padd">
                                &nbsp;Rayon
                                <div class="range-slider round" id="ra" data-slider data-options="display_selector: #rayon; start: 0; end: 5000; step: 1;">
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    {{ form_row(form.rayon, {'type' : 'hidden', 'label' : ' ', 'value' : '2500' }) }}
                                </div>
                            </div>
                            <div class="large-1 small-2 medium-1 columns no-padding slide-value">
                                <span id="rayon"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns text-center white btn-seek">
                                {{ form_row(form.Rechercher) }}
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>

                {# Right columns MAP #}
                <div id="map" class="large-9 medium-9 columns" data-equalizer-watch {#style="border: 1px solid red;"#}>
                    <div class="row">
                        <div class="large-12 columns no-padding" {#style="border: 1px solid yellowgreen;"#}>
                            <div id="GoogleMap" {#style="border: 1px solid darkred;"#}></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p>PerfectPlace © Copyright</p>
                </div>
                <div class="large-6 medium-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts%}

    {{ parent() }}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf5ectAep4TV8yRQoUqnNWfc3cKm6ivJs"></script>

    <script type="text/javascript">

        function initialize() {
            var mapOptions = {
                center: { lat: 50.635568, lng: 3.0620460000000094},
                zoom: 15
            };
            var map = new google.maps.Map(document.getElementById('GoogleMap'), mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>


{% endblock %}


{#<div class="range-slider" data-slider>
                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                    <span class="range-slider-active-segment"></span>
                    {{ form_row(form.mobilite, {
                    'type' : 'hidden',
                    'attr' : { 'min' : '0', 'max' : '10' }}) }}
                </div>#}